body {
    margin: 0;
}

* {box-sizing: border-box}

.slideshow,
.slideshow::after {
    margin: 0;
    padding: 0;
    z-index: 0;  
}

.slideshow:after {
    content: '';
    background: transparent url(../images/eco_green_love_recycle.png) no-repeat top left;
    background-size: 5%;
    margin: 5px;
}

.slideshow li {
    list-style: none;
}

.slideshow li div { 
    width: 100vw;
    height: 100%;
    position: absolute;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -1;
    /* animation: carrusel 480s linear 1s infinite; */
    animation: carrusel 80s linear 1s infinite;

}

.slideshow li:nth-child(1) div {
    background-image: url(../images/mascotas/01.perro_dachshund_7680x4320.jpg);
}

.slideshow li:nth-child(2) div {
    background-image: url(../images/mascotas/02.perro_beagle_7680x4320.jpg);
    animation-delay: 10s;
}

.slideshow li:nth-child(3) div {
    background-image: url(../images/mascotas/03.perro_husky_7680x4320.jpg);
    animation-delay: 20s;
}

.slideshow li:nth-child(4) div {
    background-image: url(../images/mascotas/04.gatos_7680x4320.jpg);
    animation-delay: 30s;
}

.slideshow li:nth-child(5) div {
    background-image: url(../images/mascotas/05.gatito_en_patalon_7680x4320.jpg);
    animation-delay: 40s;
}

.slideshow li:nth-child(6) div {
    background-image: url(../images/mascotas/06.perro_malinois-belga_7680x4320.jpg);
    animation-delay: 50s;
}

.slideshow li:nth-child(7) div {
    background-image: url(../images/mascotas/07.conejo_7680x4320.jpg);
    animation-delay: 60s;
}

.slideshow li:nth-child(8) div {
    background-image: url(../images/mascotas/08.loros_7680x4320.jpg);
    animation-delay: 70s;
}

@keyframes carrusel { 
    0%   { opacity: 0; animation-timing-function: ease-in}
    3%  { opacity: 1; animation-timing-function: ease-out}
    50%  { opacity: 1}
    85%  { opacity: 0}
    100% { opacity: 0}
}