.wrap {
    transform-origin:0 0;
    transform-style: preserve-3d;
    transform: scale3d(.1, 1)

}
.triangle {
    position:absolute;
    left:-100px;
    top: -30px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #287233;
    /* animation: lighting 12s infinite linear; */
    /* filter: drop-shadow(1px -1px 1px rgb(120, 180, 40)); */
}

/** Bottom Down **/
.triangle.bottom {   
    transform-origin: 50% 0%; }
.triangle.bottom.face-1 {
    filter: brightness(115%);
    animation-delay: -2500ms;
    transform: translateY(90px) rotateY(0deg) rotateX(35deg)  scaleX(.24) scaleY(-1) ;  }
.triangle.bottom.face-2 {
    animation-delay: -3500ms;
    transform:  translateY(90px) rotateY(45deg) rotateX(35deg)  scaleX(.24) scaleY(-1) ; }
.triangle.bottom.face-3 { 
    filter: brightness(115%);
    animation-delay: -4500ms;
    transform:  translateY(90px) rotateY(90deg) rotateX(35deg)  scaleX(.24) scaleY(-1) ; }
.triangle.bottom.face-4 { 
    animation-delay: -5500ms;
    transform:  translateY(90px) rotateY(135deg) rotateX(35deg)  scaleX(.24) scaleY(-1) ; }
.triangle.bottom.face-5 { 
    filter: brightness(115%);
    animation-delay: -6500ms;
    transform:  translateY(90px) rotateY(180deg) rotateX(35deg)  scaleX(.24) scaleY(-1) ; }
.triangle.bottom.face-6 { 
    animation-delay: -7500ms;
    transform:  translateY(90px) rotateY(225deg) rotateX(35deg)  scaleX(.24) scaleY(-1) ; }
.triangle.bottom.face-7 { 
    filter: brightness(115%);
    animation-delay: -8500ms;
    transform:  translateY(90px) rotateY(270deg) rotateX(35deg)  scaleX(.24) scaleY(-1) ; }
.triangle.bottom.face-8 { 
    animation-delay: -9500ms;
    transform:  translateY(90px) rotateY(315deg) rotateX(35deg)  scaleX(.24) scaleY(-1) ; }

/** Middle Down **/
.triangle.middle-bottom {   
    transform-origin: 50% 0%; }
.triangle.middle-bottom.face-1 { 
    animation-delay: -3500ms;
    transform: rotateY(0deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)  scaleX(.24) scaleY(.3) ;  }
.triangle.middle-bottom.face-2 { 
    filter: brightness(95%);
    animation-delay: -4500ms;
    transform: rotateY(45deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)  scaleX(.24) scaleY(.3) ;  }
.triangle.middle-bottom.face-3 { 
    animation-delay: -5500ms;
    transform: rotateY(90deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)  scaleX(.24) scaleY(.3) ;  }
.triangle.middle-bottom.face-4 { 
    filter: brightness(95%);
    animation-delay: -6500ms;
    transform: rotateY(135deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)  scaleX(.24) scaleY(.3) ;  }
.triangle.middle-bottom.face-5 { 
    animation-delay: -7500ms;
    transform: rotateY(180deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)  scaleX(.24) scaleY(.3) ;  }
.triangle.middle-bottom.face-6 { 
    filter: brightness(95%);
    animation-delay: -8500ms;
    transform: rotateY(225deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)  scaleX(.24) scaleY(.3) ;  }
.triangle.middle-bottom.face-7 { 
    animation-delay: -9500ms;
    transform: rotateY(270deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)  scaleX(.24) scaleY(.3) ;  }
.triangle.middle-bottom.face-8 { 
    filter: brightness(95%);
    animation-delay: -10500ms;
    transform: rotateY(315deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)  scaleX(.24) scaleY(.3) ;  }

/** Middle Up **/
.triangle.middle-top {   
    transform-origin: 50% 100%; }
.triangle.middle-top.face-1 { 
    filter: brightness(105%);
    animation-delay: -2500ms;
    transform: rotateY(22.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg)  scaleX(.13) scaleY(-.36) ;  }
.triangle.middle-top.face-2 { 
    filter: brightness(108%);
    animation-delay: -3500ms;
    transform: rotateY(67.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg)  scaleX(.13) scaleY(-.36) ;  }
.triangle.middle-top.face-3 { 
    filter: brightness(105%);
    animation-delay: -4500ms;
    transform: rotateY(112.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg)  scaleX(.13) scaleY(-.36) ;  }
.triangle.middle-top.face-4 { 
    filter: brightness(108%);
    animation-delay: -5500ms;
    transform: rotateY(157.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg)  scaleX(.13) scaleY(-.36) ;  }
.triangle.middle-top.face-5 { 
    filter: brightness(105%);
    animation-delay: -6500ms;
    transform: rotateY(202.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg)  scaleX(.13) scaleY(-.36) ;  }
.triangle.middle-top.face-6 { 
    filter: brightness(108%);
    animation-delay: -7500ms;
    transform: rotateY(247.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg)  scaleX(.13) scaleY(-.36) ;  }
.triangle.middle-top.face-7 { 
    filter: brightness(105%);
    animation-delay: -8500ms;
    transform: rotateY(292.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg)  scaleX(.13) scaleY(-.36) ;  }
.triangle.middle-top.face-8 { 
    filter: brightness(108%);
    animation-delay: -9500ms;
    transform: rotateY(337.5deg) translateY(-111px) translateZ(-31px) rotateX(-58deg)  scaleX(.13) scaleY(-.36) ;  }

/** Top Up **/
.triangle.up {   
    animation: lighting-lighter 12s infinite linear; 
    transform-origin: 50% 0%; }
.triangle.up.face-1 { 
    filter: brightness(115%);
    animation-delay: -3500ms;
    transform: rotateY(22.5deg)  translateY(-22px) translateZ(0px) rotateX(-70deg)  scaleX(.13) scaleY(.33); }
.triangle.up.face-2 { 
    filter: brightness(102%);
    animation-delay: -4500ms;
    transform: rotateY(67.5deg)  translateY(-22px) translateZ(0px) rotateX(-70deg)  scaleX(.13) scaleY(.33); }
.triangle.up.face-3 { 
    filter: brightness(115%);
    animation-delay: -5500ms;
    transform: rotateY(112.5deg)  translateY(-22px) translateZ(0px) rotateX(-70deg)  scaleX(.13) scaleY(.33); }
.triangle.up.face-4 { 
    filter: brightness(102%);
    animation-delay: -6500ms;
    transform: rotateY(157.5deg)  translateY(-22px) translateZ(0px) rotateX(-70deg)  scaleX(.13) scaleY(.33); }
.triangle.up.face-5 { 
    filter: brightness(115%);
    animation-delay: -7500ms;
    transform: rotateY(202.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)  scaleX(.13) scaleY(.33); }
.triangle.up.face-6 { 
    filter: brightness(102%);
    animation-delay: -8500ms;
    transform: rotateY(247.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)  scaleX(.13) scaleY(.33); }
.triangle.up.face-7 { 
    filter: brightness(115%);
    animation-delay: -9500ms;
    transform: rotateY(292.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)  scaleX(.13) scaleY(.33); }
.triangle.up.face-8 { 
    filter: brightness(102%);
    animation-delay: -10500ms;
    transform: rotateY(337.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)  scaleX(.13) scaleY(.33); }

/** ANIMATIONS **/

.rotor-x {
    transform: rotateX(-30deg);
    /* animation: spinX 6s infinite linear; */
}
/* .rotor-y {
    animation: spinY 20s infinite linear;
} */
/* .rotor-z {
    animation: spinZ 18s infinite linear;
} */
@keyframes spinX {
    from { transform: rotateX(0); }
    to { transform: rotateX(360deg); }
}
@keyframes spinY {
    from { transform: rotateY(0); }
    to { transform: rotateY(360deg); }
}
@keyframes spinZ {
    from { transform: rotateZ(0); }
    to { transform: rotateZ(360deg); }
}
@keyframes lighting {
    0% {   border-bottom-color:#287233; }
    50% {  border-bottom-color:#5A8A61; }
    100% { border-bottom-color:#7CBF86; }
}
@keyframes lighting-lighter {
    0% {   border-bottom-color:#287233; }
    50% {  border-bottom-color:#5A8A61; }
    100% { border-bottom-color:#7CBF86; }
}