body{
	margin: 0px;
	padding: 0px;
}

#bg-img{
	position: fixed;
	background-image: url('../images/coleccion_natulareza/planeta-reciclaje_1920x1279.jpg');
	background-position: center;
	background-repeat: space-between;
	background-size: 100% 100%;
	background-attachment: fixed;
	z-index: -1;
	opacity: 70%;
	width: 100%;
	height: 100%;
}

.grid-container{
    display: grid;
	grid-template-rows: auto auto auto auto;
	grid-template-columns: auto auto auto;
	gap: 10px;
}

.logo{
	grid-area: 1/1/span 1 /span 1;
	margin: 10px;
	padding: 5px;
	width: 100px;
	animation: rotation 6s infinite linear;
	filter: drop-shadow(1px 1px 2px greenyellow);
}
@keyframes rotation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(359deg);}
}

#div-nav{
	display: flex;
	grid-area: 1/2/span 1 /span 1;
	font-size: 20px;
	margin-top: 20px;
	margin-right: 20px;
}
#menu a{
	background-color: rgb(175, 229, 175);
	padding: 5px;
	border-radius: 5px;
	border-top: solid 1px gray;
	color: black;
	text-decoration: none;
	box-shadow: -5px 5px 8px 3px greenyellow;
}
#menu a:hover{
	background-color: yellowgreen;
	border-radius: 5px;
	border-top: solid 1px greenyellow;
	border-radius: 5px;
	color: white;
	text-decoration: underline greenyellow;
	box-shadow: -5px 5px 30px 5px greenyellow;
}
#login{
	font-size: 25px;
	margin: 10px;
	grid-area: 1/4/span 1 /span 1;
}

.titulo{
	text-decoration: underline;
	text-shadow: 1px 1px 5px greenyellow;
	text-align: center;
	padding: 5px;
	grid-area: 2/1/span 1 /span 4;
}

.principal{
	padding: 5px;
	grid-area: 3/1/span 1/span 4;
	text-align: justify;
	font-size: large;
	word-break: keep-all;
}

.footer{
	border-top: double 3px;
	padding: 5px;
	grid-area: 4/1/span 1 /span 4;
}