*{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1.05em;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* border: 1px solid black; */
}

/* DEFINICIÓN RESPONSIVE */
    /* Nombrar las áreas de Grid*/
    header { grid-area: header}
    nav    { grid-area: nav}
    main   { grid-area: main}
    aside  { grid-area: aside}
    section{ grid-area: section}
    footer { grid-area: footer}

    /* Definir todos los contenedores del grid (Body) como Flex*/
    header,
    nav,
    main,
    aside,
    section,
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer {
        flex-direction: column;
    }

    /* Definir distribución Grid (Desktop first)*/
    body {
        display: grid;
        /* grid-gap: 1em; */
        grid-template-areas:
            "header nav nav nav footer"
            "aside aside main main footer";
        grid-template-columns: repeat(4, 3fr) 100px;
        grid-template-rows: 100px auto;
    }
    #index__body {
        display: grid;
        /* grid-gap: 1em; */
        grid-template-areas:
            "header nav nav nav footer"
            "aside aside main main footer"
            "section section section section footer";
        grid-template-columns: repeat(4, 3fr) 100px;
        grid-template-rows: 100px auto auto;
    }
    nav {
        justify-content: end;
    }
    .contenedor {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1em;
        /* justify-content: center; */
        /* align-content: center; */
        /* align-content: center; */
    }
    .contenedor div {
        margin: 1.5em;
    }

    @media only screen and (max-width: 1024px) {
        body {
            grid-template-areas:
                "header nav nav nav nav"
                "aside aside aside main main"
                "footer footer footer footer footer";
            grid-template-rows: 100px auto 100px;
        }
        #index__body {
            grid-template-areas:
            "header nav nav nav nav"
            "aside aside aside main main"
            "section section section section section"
            "footer footer footer footer footer";
            grid-template-rows: 100px auto auto 100px;
        }
        nav {
            justify-content: end;
        }
        .contenedor {
            grid-template-columns: repeat(3, 1fr);
        }
        footer{
            flex-direction: row;
            justify-content: center;
        }
    }
    @media only screen and (max-width: 800px) {
        body {
            grid-template-areas:
                "header"
                "nav"
                "aside"
                "main"
                "footer";
            grid-template-columns: 1fr;
            grid-template-rows: 100px 100px auto auto 100px;
        }
        #index__body {
            grid-template-areas:
            "header"
            "nav"
            "aside"
            "main"
            "section"
            "footer";
            grid-template-columns: 1fr;
            grid-template-rows: 100px 100px auto auto auto 100px;
        }
        nav {
            justify-content: center;
        }
        .contenedor {
            grid-template-columns: repeat(2, 1fr);
        }
        footer{
            flex-direction: row;
            justify-content: center;
        }
    }
    @media only screen and (max-width: 350px){
        body{
            grid-template-rows: auto auto auto auto auto;
        }
        #index__body {
            grid-template-rows: auto auto auto auto auto auto;
        }
        nav, header, footer {
            flex-direction: column;
        }
        nav {
            justify-content: center;
        }
        .contenedor {
            grid-template-columns: 1fr;
        }
        footer{
            flex-direction: row;
            justify-content: center;
        }
    }

    #logo__img {
        width: 3.5em;
    }
    nav a , a {
        text-decoration: none;
        color: inherit;
    }

    footer a img {
        width: 1.5em;
    }
    img {
        max-width: 100%;
    }
    main {
        flex-direction: column;
    }
    p {
        text-align: justify;
        width: 95%;
    }
    h1 {
        font-size: 1.8em;
        font-weight: bolder;
        text-align: left;
    }


/* DEFINICIÓN CARRUSEL */
    .carrusel{
    overflow:hidden;
    width: 95%;
    margin: auto;
    }
    .carrusel ul {
        padding: 0%;
        display: flex;
        width: 500%;
        animation: cambio 30s infinite alternate
    }
    .carrusel li {
    width: 100%;
    list-style: none;
    }
    .carrusel img {
        width: 100%;
    }
    @keyframes cambio{
    0%{margin-left: 0%;}
    15%{margin-left: 0%;}

    20%{margin-left: -100%;}
    35%{margin-left: -100%;}

    40%{margin-left: -200%;}
    55%{margin-left: -200%;}

    60%{margin-left: -300%;}
    75%{margin-left: -300%;}

    80%{margin-left: -400%;}
    100%{margin-left: -400%;}
    }

/* DEFINICIONES DE DISEÑO */
    /* Fondo web */
    body {
        background-color: tan;
    }
    /* Botones de navegación */
    nav {
        box-sizing: content-box;
    }
    .botonNav {
        border-radius: 5%;
        background-color: transparent;
        padding: 0.5em 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .botonNav:hover {
        font-weight: bold;
        color: tan;
        background-color: rgba(0, 0, 0, 0.25);
    }

    /* Aside */
    aside, main {
        background-color: rgba(0, 0, 0, 0.05);
    }
    #contact__aside ul li{
        padding: 10px;
    }
    #contact__aside ul{
        width: 90%;
        list-style: none;
    }

    /* Footer */
    footer {
        background-color: rgba(0, 0, 0, 0.25);
    }
    footer a img {
        margin:  0.5em;
    }
    /* Mapa de puntos verdes */
    main iframe {
        max-width: 80%;
        max-height: 80%;
    }

    /* Tarjetas del index */
    .tarjeta {
        font-size: 0.7em;
        overflow: hidden;
        cursor: default;
        transition: all 400ms ease;
    }
    .tarjeta:hover {
        transform: translateY(-2%);
    }

    /* Formulario de contacto */
    .formulario {
        width: 80%;
        font-size: smaller;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .formulario__grupo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    .formulario__label {
        display: block;
        font-weight: bolder;
        padding: 5px;
        cursor: pointer;
    }
    .formulario__input {
        width: 100%;
        background-color: rgb(214, 203, 193);
        border: 3px solid transparent;
        border-radius: 3px;
        height: 30px;
        line-height: 30px;
        /* padding: 0 40px 0 10px; */
        transition: .3s ease all;
    }
    .formulario__input:focus {
        border: 3px solid rgba(0, 0, 0, 0.2);
        outline: none;
        box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.2);
    }
    .formulario__input-error {
        font-size: .8em;
        display: none;
    }
    .formulario__input-error-activo {
        display: block;
    }
    .formulario__mensaje {
        height: 45px;
        line-height: 45px;
        background: rgba(246, 96, 96, 0.5);
        border-radius: 3px;
        padding: 0 15px;
        display: none;
    }
    .formulario__mensaje-activo {
        display: block;
    }
    .formulario__grupo-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formulario__btn {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 40px;
        line-height: 40px;
        width: 40%;
        border: none;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.3);
        color: black;
        font-weight: bolder;
        cursor: pointer;
        transition: .1s ease all;
    }
    .formulario__btn:hover {
        box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.2);
    }
    .formulario__mensaje-exito {
        color: #124d0a;
        height: 40px;
        line-height: 35px;
        font-weight: bolder;
        border: 3px solid #124d0a;
        border-radius: 3px;
        padding: 0 15px;
        display: none;
    }
    .formulario__mensaje-exito i {
        margin-right: 10px;
    }

    .formulario__mensaje-exito-activo {
        display: block;
    }

    /* Estilos para validación de formulario */
    .formulario__grupo-correcto .formulario__input{
        border: 3px solid #124d0a;
    }
    .formulario__grupo-incorrecto .formulario__input{
        border: 3px solid rgb(116, 23, 23);
    }