* {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 24px;
    box-sizing: border-box;

    /* border: .3px dotted red; */
}

/* DEFINICIÓN RESPONSIVE */
/* Nombrar las áreas de Grid*/
header {
    grid-area: header
}

main {
    grid-area: main
}

aside {
    grid-area: aside
}

footer {
    grid-area: footer
}

/* Definir todos los contenedores del grid (Body) como Flex y otros elementos*/
header,
#logo,
nav,
main,
aside,
footer,
#contacto,
#contacto-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Definir distribución Grid y (Desktop first)*/
body {
    display: grid;
    grid-gap: .5em;
    grid-template-areas:
        "header header header header footer"
        "aside aside main main footer";
    grid-template-columns: repeat(4 auto) 100px;
    grid-template-rows: auto auto auto;
}

header {
    background-color: rgb(200, 170, 130);
    justify-content: space-between;
    width: 90vw;
    height: 20vh;
}

#logo {
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;

}

#logo img {
    height: 80px;
}

.mapa {
    width: 600px;
    height: 600px;
}

aside iframe {
    width: 600px;
    height: 400px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 5vw;
    padding: 10px;
}

@media only screen and (max-width: 1024px) {
    body {
        grid-template-areas:
            "header header header header header"
            "aside aside aside main main"
            "footer footer footer footer footer";
        grid-template-rows: auto auto auto auto auto;
    }

    header {
        width: 95vw;
    }

    #logo {
        font-size: 1.5em;
    }

    nav {
        font-size: 1em;
    }

    aside iframe {
        min-width: 400px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    body {
        grid-template-areas:
            "header"
            "aside"
            "aside"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
    }

    header {
        height: auto;
        flex-direction: column;
    }

    #logo img,
    #logo h1 {
        height: 50px;
        font-size: large;
    }

    .mapa {
        width: 95%;
    }

    aside iframe {
        width: 95vw;
    }

    aside p {
        width: auto;
        word-wrap: break-word;
    }

    footer {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        grid-template-rows: auto auto auto auto auto;
    }

    nav,
    header {
        flex-direction: column;
        justify-content: center;
    }

    #logo {
        font-size: 1em;
    }

    #logo img {
        align-items: center;
        height: 60px;
    }

    aside {
        max-width: 600px;
    }

    footer {
        display: flex;
        flex-direction: row;
        padding: 5px;
    }


}

/* DEFINICIÓN CARRUSEL */
.carrusel {
    overflow: hidden;
    width: 95%;
    margin: auto;
}

.carrusel ul {
    padding: 0%;
    display: flex;
    width: 500%;
    animation: cambio 30s infinite alternate
}

.carrusel li {
    width: 100%;
    list-style: none;
}

.carrusel img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }

    15% {
        margin-left: 0%;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    55% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    75% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }
}

/* DEFINICIONES DE DISEÑO */
/* Fondo web */
body {
    background-color: tan;
}

#logo:hover {
    font-weight: bold;
    filter: invert(1) drop-shadow(0 0 0.3rem rgb(254, 144, 0));
}

/* Botones de navegación */

.botonNav {
    background-color: transparent;
    margin: 1em;
    padding: .5em;
    width: 100%;
}

.botonNav:hover {
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 1px 1px 10px #bebebe,
        -1px -1px 10px #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    flex-direction: column;
}

aside {
    font-size: 1.4em;
}

/* Aside */
aside,
main {
    background-color: rgba(0, 0, 0, 0.05);
    text-align: justify;
}

p {
    text-align: justify;
    padding: 0 5px 0 5px;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.25);
}

footer a img {
    width: 50px;
    height: 50px;
}

.formulario * {
    padding: 5px;
    font-size: .7rem;
}

#inquietud li {
    padding: 5px;
    text-align: justify;
    font-size: .9em;
}

form div {
    display: flex;
    justify-content: space-between;
}

/* FORMULARIO DE CONTACTO */
#contacto {
    background-color: rgb(200, 170, 130);
    box-sizing: content-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    height: 70vh;
}

#contacto * {
    text-align: start;
}

#contacto-btn {
    align-self: center;
    justify-content: space-between;
    width: 300px;
}

#Fullname,
#Email,
#Msg:required:invalid {
    background-color: #fabebe;
}

#Fullname:valid {
    background-color: #c6fabe;
}

#Email:valid {
    background-color: #c6fabe;
}

#Msg:valid {
    background-color: #c6fabe;
}

#contacto:valid {
    box-sizing: content-box;
    /* filter: drop-shadow(0 0 0.5rem green); */
    box-shadow: 0 0 10px green;
}

#msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

#msg span {
    align-self: flex-end;
    font-size: .6em;
}

#send {
    border-radius: 5px;
    background-color: transparent;
}

#send:hover,
#reset:hover {
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 1px 1px 10px #bebebe,
        -1px -1px 10px #ffffff;
}

#reset {
    background-color: transparent;
    border: none;
    text-decoration: underline;
}


/* SOCIAL MEDIA BUTTONS */

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab {
    width: 40px;
    height: 40px;
    transition: .3s;
    padding: .5px;
    border-radius: 50%;
}

.facebook:hover {
    background-color: white;
    box-shadow: 0px 0px 15px white;
    border-radius: 50%;
}

.instagram:hover {
    background-color: white;
    box-shadow: 0px 0px 15px white;
    border-radius: 50%;
}

.whatsapp {
    border-radius: 50% 50% 50% 0;
}

.whatsapp:hover {
    background-color: white;
    box-shadow: 0px 0px 15px white;
    border-radius: 50% 50% 50% 0;
}

.telegram:hover {
    background-color: white;
    box-shadow: 0px 0px 15px white;
    border-radius: 50%;
}